{% extends "weblog/base.html" %}

{% block content %}
	
	<!-- {% if category_description %}
		{{ category_description }}
	{% endif %} -->

	{% for entry in entries %}
	<div class="post">
		<div class="postheader">
			<h1>
				<a href="{% url 'weblog:home' %}?category={{ entry.category.name }}">
					~/{{ entry.category.name }}
				</a> $ 
				<a href="{% url 'weblog:blogentry_detail' entry.dateCreated|date:"Y" entry.dateCreated|date:"m" entry.dateCreated|date:"d" entry.id entry.slug %}">
					{{ entry.subject }}
				</a>
			</h1>
			<p>Written by firehat on 
				<a href="{% url 'weblog:year_archive' entry.dateCreated|date:"Y" %}">
					{{ entry.dateCreated|date:"Y" }}
				</a>/
				<a href="{% url 'weblog:month_archive' entry.dateCreated|date:"Y" entry.dateCreated|date:"m" %}">
					{{ entry.dateCreated|date:"m" }}
				</a>/
				<a href="{% url 'weblog:day_archive' entry.dateCreated|date:"Y" entry.dateCreated|date:"m" entry.dateCreated|date:"d" %}">
					{{ entry.dateCreated|date:"d" }}
				</a>
				- {{ entry.dateCreated|date:"P" }}
			</p>
		</div>
		<div class="postcontent">
			{{ entry.text_to_html|safe }}
		</div>
		<div class="postfooter">
			<p>
				<a href="{% url 'weblog:blogentry_detail' entry.dateCreated|date:"Y" entry.dateCreated|date:"m" entry.dateCreated|date:"d" entry.id entry.slug %}">
					Comment
				</a>
			</p>
		</div>
	</div>
	{% endfor %}
{% endblock %}
