{% extends "weblog/base.html" %}

{% block content %}
{% if contacted %}
<div class='information'>
	<p>Thank you. The message was sent to firehat.</p>
</div>
{% endif %}
	<div class="post">
		<div class="postheader">
			<h1>
				<a href="{% url 'weblog:contact' %}">
					~/contact
				</a> $ 
			</h1>
		</div>
		<div class="postcontent">
			<p>
				If you have any questions regarding the content of this blog please do not hesitate to contact me with the contact form down here.
			</p>
			<div id='contactform'>
				<section>
		    		<form method="post" action=".">{% csrf_token %}
					    <table class='commentform'>
							<tr>
								<th>{{ form.name.label_tag }}</th>
								{% if form.name.errors %}
								<td class='error'>{{ form.name }}</td>
								{% else %}
								<td>{{ form.name }}</td>
								{% endif %}
							</tr>
							{% if form.name.errors %}
							<tr>
								<th></th>
								<td class='error'>{{ form.name.errors }}</td>
							</tr>
							{% endif %}
							<tr>
								<th>{{ form.email.label_tag }}</th>
								{% if form.email.errors %}
								<td class='error'>{{ form.email }}</td>
								{% else %}
								<td>{{ form.email }}</td>
								{% endif %}
							</tr>
							{% if form.email.errors %}
							<tr>
								<th></th>
								<td class='error'>{{ form.email.errors }}</td>
							</tr>
							{% endif %}
							<tr>
								<th>{{ form.subject.label_tag }}</th>
								{% if form.subject.errors %}
								<td class='error'>{{ form.subject }}</td>
								{% else %}
								<td>{{ form.subject }}</td>
								{% endif %}
							</tr>
							{% if form.subject.errors %}
							<tr>
								<th></th>
								<td class='error'>{{ form.subject.errors }}</td>
							</tr>
							{% endif %}
							<tr>
								<th>{{ form.text.label_tag }}</th>
								{% if form.text.errors %}
								<td class='error'>{{ form.text }}</td>
								{% else %}
								<td>{{ form.text }}</td>
								{% endif %}
						    </tr>
						    {% if form.text.errors %}
							<tr>
								<th></th>
								<td class='error'>{{ form.text.errors }}</td>
							</tr>
							{% endif %}
						    <tr>
								<th>{{ form.cc_myself.label_tag }}</th>
								{% if form.cc_myself.errors %}
								<td class='error'>{{ form.cc_myself }}</td>
								{% else %}
								<td>{{ form.cc_myself }}</td>
								{% endif %}
						    </tr>
						    {% if form.cc_myself.errors %}
							<tr>
								<th></th>
								<td class='error'>{{ form.cc_myself.errors }}</td>
							</tr>
							{% endif %}
					    </table>
		    			<input type="submit" value="Submit comment" />
		    		</form>
	  			</section>
  			</div>
		</div>
	</div>
{% endblock %}
