{% extends "weblog/base.html" %}

{% block blogentries %}
	<div class="post">
		<div class="postheader">
			<h1>
				<a href="{% url hatblog:impressum %}">
					~/imprint
				</a> $ 
			</h1>
		</div>
		<div class="postcontent">
			<h2>Legal information</h2>
			<p>This website is the personal blog of</p>
			<p>
				<b>Dominic Miglar</b><br/>
				Panoramastraße 19
				A-8820 Neumarkt in Steiermark
			</p>
			<p>
				If you have any questins, feel free to contact me with the contact formular or directly per E-Mail: firehat_at_w1r3.net.
			</p>
		</div>
	</div>
{% endblock %}
