{% extends "weblog/base.html" %}

{% block content %}
	<div class="post">
		<div class="postheader">
			<h1>
				<a href="{% url hatblog:imprint %}">
					~/imprint
				</a> $ 
			</h1>
		</div>
		<div class="postcontent">
			<h2>Legal information</h2>
			<p>This website is the personal blog of</p>
			<p>
				<b>Dominic Miglar</b><br/>
				Panoramastraße 19<br/>
				A-8820 Neumarkt in Steiermark
			</p>
			<h2>Grundlegende Richtung</h2>
			<p>This website is my personal blog. The content represents my opinions and some information i gathered in the course of time.</p>
			<p>
				If you have any questions, feel free to contact me with the <a href="/contact">contact form</a> or directly per E-Mail at <a href="mailto:firehat@w1r3.net">firehat_at_w1r3_dot_net</a>.
			</p>
		</div>
	</div>
{% endblock %}
