.post {
	margin-bottom: 50px;
}

.postheader {
	color: #ffffff;
	padding-bottom: 5px;
}

.postheader a:link, 
.postheader a:visited
{
	text-decoration: none;
	color: #CDA869;
}

.postheader a:hover
{
	text-decoration: underline;
}

.postheader p a:link, 
.postheader p a:visited
{
	text-decoration: none;
	color: #ffffff;
}

.postheader p a:hover
{
	text-decoration: underline;
}

.postheader h1 {
	margin: 0;
	font-size: 16pt; 
	color: #CDA869;
}
.postheader p {
	font-size: 10pt;
	margin: 0;
	text-align: right; 
}

.postcontent {
	/* padding: 10px; */
	padding-left: 0; 
	font-size: 11pt; 
}

.postcontent p a:link {
	color: #ffffff;
	text-decoration: none;
}

.postcontent p a:hover {
	text-decoration: underline;
}

.postcontent p a:visited {
	color: #ffffff;
	font-style: italic;
}

.postcontent h1 {
	font-size: 14pt;
}

.postcontent h2 {
	font-size: 12pt;
}

.postcontent h3 {
	font-size: 11pt;
}

.postcontent h4 {
	font-size: 10pt;
}

.postcontent pre {
	font-size: 10pt;
}

.postcontent img {
	margin-right: 15px;
}

.postfooter {
	margin-top: 10px;
	color: #ffffff;
}

.postfooter a:link, 
.postfooter a:visited
{
	text-decoration: none;
	color: #ffffff;
}

.postfooter a:hover
{
	text-decoration: underline;
}

.postfooter p {
	padding-top: 5px;
	font-size: 10pt;
	margin: 0;
	text-align: right; 
}

.comments h2 {
	margin-top: 50px;
	color: #CDA869;
	font-size: 12pt;
}

.information {
	background-color: #151515;
	padding: 5px;
	border: 1px solid #8F9D6A;
	margin-bottom: 50px;
}
 
.information p {
	margin: 0;
	padding: 0;
	font-style: italic;
}

.newcomment {
	margin-top: 50px;
}

.newcomment table tr {
	padding-bottom: 5px;
	display: block;
}

.newcomment table th {
	width: 100px;
	text-align: left;
}

.newcomment h2 {

}

#contactform {
	margin-top: 50px;
}

#contactform table tr {
	padding-bottom: 5px;
	display: block;
}

#contactform table th {
	width: 100px;
	text-align: left;
}

/* 
    for syntax hilighting: (markdown/pygments)
    line numbers: padding right
*/
.linenodiv
{
	padding-right: 20px;
}

table.codehilitetable {
	padding: 20px;
	width: 100%;
}

table.codehilitetable tbody tr td.linenos {
	background-color: #272822;
	width: 20px;
	padding-left: 10px;
}

table.codehilitetable tbody tr td.code {
	background-color: #272822;
}

table.commentform th {
	text-align: left;
	width: 80px;
	font-weight: normal;
} 

table.commentform th, table.commentform td {
	padding-bottom: 10px;
}

table.commentform td.error input,
table.commentform td.error textarea {
	border: 1px solid red;
}

table.commentform td.error ul {
	list-style: none;
}

table.commentform td.error li {
	padding-left: 10px;
}

table.commmentform label {
	font-size: 10pt;
}

input#id_name, 
input#id_email,
input#id_subject {
	width: 450px;
}

textarea#id_text {
	width: 450px;
}
